
@font-face {
    font-family: "Mona Sans";
    src: url("Fonts/Mona\ Sans/Mona-Sans.ttf");
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes framing {
    0% {
        border-right-color: #314356;
        border-left-color: #02b7fa;
        border-top-color: #02b7fa;
        border-bottom-color: #314356;
    }
    33% {
        border-left-color: #314356;
        border-bottom-color: #314356;
        border-top-color: #02b7fa;
        border-right-color: #02b7fa;
    }
    66% {
        border-bottom-color: #02b7fa;
        border-left-color: #314356;
        border-top-color: #314356;
        border-right-color: #02b7fa;
    }
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.3;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

body {
    margin: 0;
    padding: 0;
    background-image: url("Index/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #0a1119;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: relative;
}

html {
    overflow-x: hidden;
}

body.loaded {
    opacity: 1;
}

* {
    color: #fff;
    font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: #02b7fa;
    color: #111c29;
}

img::selection {
    background-color: rgba(0,0,0,0);
}

.area{
    position: absolute;
    rotate: 180deg;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    z-index: -100;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    animation: animate 30s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.vertical-rectangle {
    width: 10px;
    height: 150px;
    background-color: #02b7fa;
}

.horizontal-rectangle {
    width: 150px;
    height: 10px;
    background-color: #02b7fa;
}

#angle1 {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(10px, -10px);
    transition: transform 0.5s ease-out;
}

#angle2 {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-10px, 10px);
    transition: transform 0.5s ease-out;
}

#angle1 .vertical-rectangle {
    position: fixed;
    right: 0;
    top: 0;
}

#angle1 .horizontal-rectangle {
    position: fixed;
    right: 0;
    top: 0;
}

#angle2 .vertical-rectangle {
    position: fixed;
    left: 0;
    bottom: 0;
}

#angle2 .horizontal-rectangle {
    position: fixed;
    left: 0;
    bottom: 0;
}

header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100vw;
}

#header-left-part {
    width: 50px;
    margin-left: 5vw;
}

#header-left-part img {
    width: 100%;
}

#menu {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

a {
    text-decoration: none;
}

a:not(.main-box-button):not(.social-media-link) {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(0deg, #02b7fa, #02b7fa);
    background-repeat: no-repeat;
    background-size: 0% 2px; 
    background-position: 0 100%;
    transition: 0.5s;
}

a:not(.main-box-button):not(.social-media-link):hover {
    color: #02b7fa;
    background-size: 100% 2px;
}

#menu a {
    font-size: 1.3rem;
}

#main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 80vw;
    gap: 10px;
}

#main-box-left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-box-title {
    font-size: 2.5rem;
    text-align: center;
    min-width: 550px;
}

#main-box-description {
    font-size: 1.1rem;
    color: #c2c8d0;
    text-align: center;
}

#main-box-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-box-button {
    padding: 10px 60px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-transform: uppercase;
    transition: 0.5s;
}

.main-box-button:hover {
    cursor: pointer;
    border-color: #02b7fa;
    color: #02b7fa;
    text-decoration: none;
}

#img-box {
    width: 400px;
    border-left: 5px solid #02b7fa;
    border-bottom: 5px solid #02b7fa;
    border-top: 5px solid #314356;
    border-right: 5px solid #314356;
    border-radius: 1000px;
    overflow: hidden;
    animation: framing 2s ease-in-out;
}

#me {
    width: 100%;
}

.blue-word {
    color: #02b7fa;
}

.box {
    margin-top: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.box-title span {
    font-size: 2rem;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #02b7fa;
}

#about-text {
    font-size: 1.1rem;
    color: #c2c8d0;
    line-height: 2rem;
    margin-top: 10px;
}

#education {
    display: flex;
    flex-direction: column;
}

#education-parts {
    margin-top: 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#education-part-one, #education-part-three {
    width: 40%;
    display: flex;
}

#education-part-one {
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

#education-part-three {
    justify-content: center;
    align-items: center;
}

#self-taught-training {
    color: #c2c8d0;
}

.education-sub-box {
    padding: 20px;
    border: 1px solid #314356;
    border-radius: 5px;
}

.education-title {
    font-weight: bold;
}

.education-degree {
    color: #c2c8d0;
}

.education-period {
    color: #596d84;
}

.separator {
    width: 2px;
    height: 100%;
    background-color: #314356;
    border-radius: 5px;
}

#skills {
    display: flex;
    flex-direction: column;
}

#skills-parts {
    margin-top: 30px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#soft-skills, #hard-skills {
    width: 40%;
}

.skills-sub-title span {
    font-size: 1.7rem;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #314356;
}

.skills-sub-box {
    line-height: 2rem;
}

.skills-sub-box li {
    color: #c2c8d0;
}

.skills-sub-box a {
    color: #c2c8d0;
}

.skills-sub-box a:hover {
    color: #02b7fa;
}

#rootme-link {
    color: #596d84;
    transition: 0.5s ease;
}

#rootme-link:hover {
    color: #02b7fa;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.project-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #314356;
    border-radius: 5px;
}

.project-box-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.project-box-description {
    color: #c2c8d0;
    margin-bottom: 6px;
}

.project-box-consult {
    color: #596d84;
    transition: 0.5s ease;
}

.project-box-consult:hover {
    color: #02b7fa;
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    font-size: 1.1rem;
    gap: 20px;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#social-media img {
    width: 30px;
}

#social-media a {
    background-color: #fff;
    border-radius: 5px;
    height: 30px;
    transition: 0.5s ease;
}

#social-media a:hover {
    background-color: #02b7fa;
}

#copyright {
    color: #c2c8d0; 
    padding: 0px 50px 20px 50px;
    text-align: center;
}

#up-button {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s ease-in-out; 
    z-index: 10000;
}

#up-button:hover #arrow {
    opacity: 0;
}

#up-button.visible {
    opacity: 1;
    cursor: pointer;
}

#up-button img {
    width: 40px;
}

#up-button-img {
    display: flex;
}

#arrow {
    z-index: 10;
    transition: 0.5s;
}

#arrow2 {
    position: absolute;
    z-index: 1;
}

@media (max-width: 1200px) {
    #menu {
        width: 70%;
    }

    #menu a {
        font-size: 1.1rem;
    }

    #main-box {
        width: 90%;
    }

    #education-parts {
        height: 500px;
    }

    #skills-parts {
        height: 280px;
    }

    .box {
        width: 90%;
    }

    #img-box {
        width: 300px;
    }
}

@media (max-width: 1000px) {
    .area {
        display: none;
    }

    #skills-parts {
        height: 320px;
    }

    #main-box-title {
        min-width: 0;
    }

    .project-box {
        width: 100%;
    }
}

@media (max-width: 850px) {
    #skills-parts {
        height: 400px;
    }
}

@media (max-width: 800px) {
    #main-box-title {
        font-size: 1.8rem;
    }

    #img-box {
        width: 200px;
    }

    .separator {
        display: none;
    }

    #education-parts {
        gap: 20px;
    }

    #education-part-one, #education-part-three {
        width: 50%;
    }

    #skills-parts {
        gap: 10px;
    }

    #soft-skills, #hard-skills {
        width: 50%;
    }   

    .angle {
        display: none;
    }
}

@media (max-width: 768px) {
    a:not(.main-box-button):not(.social-media-link):hover {
        color: #02b7fa;
        background-size: 0 0;
    }
}

@media (max-width: 680px) {
    .main-box-button {
        padding: 10px 20px;
    }
}

@media (max-width: 600px) {
    #education-parts {
        height: auto;
        flex-direction: column-reverse;
    }

    #education-part-one, #education-part-three {
        width: 100%;
    }

    #skills-parts {
        height: auto;
    } 
}

@media (max-width: 500px) {
    #main-box {
        flex-direction: column-reverse;
        height: auto;
    }
   
    .box-title span {
        font-size: 1.7rem;
    }

    #skills-parts {
        flex-direction: column;
    }

    #soft-skills, #hard-skills {
        width: 100%;
    }   
}

@media (max-width: 450px) {
    #header-left-part {
        display: none;
    }
    
    #menu {
        width: 100%;
    }

    header {
        justify-content: center;
        align-items: center;
    }
}
