html{
    scroll-behavior: smooth;
}

*::selection{
    background-color: #22566D;
    color: white;
}

body{
    padding: 0;
    margin: 0;
}

*{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    letter-spacing: 0.05em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 0.5%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0.04) 30%);
}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 1%;
}

.menu{
    width: 50rem;
    display: flex;
    justify-content: space-around;
}

.menu__element{
    color: black;
    text-decoration: none;
}

.menu__element::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(0,0,0);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.menu__element:hover::after{
    transform: scale(1);
}

.menu__element:hover{
    color: rgb(26, 79, 158);
}

.menu__contact{
    margin-right: 15%;
}


.container{
    padding: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #22566D, #67BFC5);
}

.container__box{
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
}

.container__me{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.container__box__name{
    font-size: 2.5rem;  
    animation: apparition 1s ease-out;  
    color: white;
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-150%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container__box__description{
    font-weight: 600;
    color: #000;
}

.container__box__contact{
    text-decoration: none;
    width: 6rem;
    text-align: center;
    padding: 2%;
    border: none;
    background-color: #fff;
    color: black;
    margin-top: 5%;
    border-radius: 20px;
}

.container__box__contact:hover{
    transition: 0.1s;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}

.return-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, #4d99ba, #67BFC5);
}

.return-top:hover{
    cursor: pointer;
    background: linear-gradient(to left, #4d99ba, #67BFC5);
}

.return-top img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.low-container{
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 60%, rgba(0, 0, 0, 0.04) 40%);
    padding-bottom: 3rem;
}

.join-me-on{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
}

.join-me-on__title{
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 5%;
}

.join-me-on__box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.join-me-on__box__element{
    width: 25rem;
    padding: 1rem 0;
    margin: 2rem 2rem;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0,0,0,1);
    background-color: white;
}

.join-me-on__box__element:hover{
    color: white;
    background: linear-gradient(135deg, #222 10%, #111 10%);
}

.join-me-on__box__element__head__img__2{
    display: none;
}

.join-me-on__box__element:hover .join-me-on__box__element__head__img__1{
    display: none;
}

.join-me-on__box__element:hover .join-me-on__box__element__head__img__2{
    display: block;
}

.join-me-on__box__element:hover .join-me-on__box__element__name::after{
    transform: scale(1);
}

.join-me-on__box__element:hover .join-me-on__box__element__name{
    color: white;
}

.join-me-on__box__element__head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.join-me-on__box__element__name{
    text-decoration: none;
    color: black;
    margin-left: 5%;
    cursor: pointer;
}

.join-me-on__box__element__name::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    background-color: #22566D;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.join-me-on__box__element__description{
    text-align: center;
}


footer{
    height: 5rem;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;
}

.license{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.license__name::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #22566D;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.license__name:hover::after{
    transform: scale(1);
}

.license__name:hover{
    transition: 0.2s ease-in-out;
    color:#67BFC5;
}

.license img{
    padding-right: 5px;
}

.year{
    margin-top: 5px;
}

@media (max-width: 490px){
    .logo{
        display: none;
    }

    .menu{
        justify-content: space-around;
        display: flex;
        padding-right: 0;
        width: 100%;
        padding: 1rem 1rem;
    }
    
    .menu__contact{
        margin: 0;
    }

    .join-me-on__box__element{
        width: 17.1rem;
        margin: 1rem 1rem;
    }

    .container__me img{
        width: 250px;
        height: 250px;
    }

    .join-me-on__title{
        margin-top: 2rem;
    }
}