html{
    scroll-behavior: smooth;
}

*::selection{
    background-color: #22566D;
    color: white;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(4,31,76);
}

*{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    letter-spacing: 0.05em;
    outline: none;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("Index/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


header{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding-top: 3%;
    padding-bottom: 1.5%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    border-bottom: 1px solid rgb(27,49,86);
}

.menu{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__element{
    color: rgb(126, 151, 195);
    text-decoration: none;
}

.menu__element::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(216, 221, 232);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.menu__element:hover::after{
    transform: scale(1);
}

.menu__element:hover{
    color: rgb(216, 221, 232);
}


.container{
    width: 70vw;
    height: 40vh;
    margin: 5% auto 10% auto;
    padding: 5% 1% 0% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(27, 49, 86, 0.3);
}

.container__name{
    color: rgb(126, 151, 195);
    font-size: 3rem;
    animation: apparition 1s ease-in-out;
    text-align: center;
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-150%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container__description{
    color: rgb(140, 149, 167);
    font-size: 1.5rem;
    text-align: center;
}

.container__contact{
    text-decoration: none;
    width: 8rem;
    text-align: center;
    padding: 1.5%;
    border: none;
    border: 2px solid rgb(140, 149, 167);
    color: rgb(140, 149, 167);
    margin-top: 5%;
    font-size: 1.2rem;
}

.container__contact:hover{
    transition: 0.1s;
    background-color: rgb(216, 221, 232);
    border: 2px solid rgb(216, 221, 232);
    color: rgb(27,49,86);
}


.low-container{
    border-top: 1px solid rgb(27,49,86);
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0.04) 30%);
    padding-bottom: 3rem;
}

.join-me-on{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    color:rgb(126, 151, 195);
}

.join-me-on__title{
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 5%;
}

.join-me-on__box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.join-me-on__box__element{
    width: 25rem;
    padding: 1rem 0;
    margin: 2rem 2rem;
    text-decoration: none;
    border: 1px solid rgb(140, 149, 167);
    color: rgb(140, 149, 167);
}

.join-me-on__box__element__head__img__2{
    display: none;
}

.join-me-on__box__element:hover .join-me-on__box__element__head__img__1{
    display: none;
}

.join-me-on__box__element:hover .join-me-on__box__element__head__img__2{
    display: block;
}

.join-me-on__box__element:hover{
    color: rgb(27,49,86);
    background: linear-gradient(135deg, rgb(27,49,86) 10%, rgb(216, 221, 232) 10%);
    border: 1px solid rgb(216, 221, 232);
}

.join-me-on__box__element:hover .join-me-on__box__element__name::after{
    transform: scale(1);
}

.join-me-on__box__element:hover .join-me-on__box__element__name{
    color: rgb(27,49,86);
}

.join-me-on__box__element__head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.join-me-on__box__element__name{
    text-decoration: none;
    margin-left: 5%;
    cursor: pointer;
}

.join-me-on__box__element__name::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    background-color: #22566D;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.join-me-on__box__element__description{
    text-align: center;
}


.box-return-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.return-top{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(140, 149, 167);
}

.return-top:hover{
    cursor: pointer;
    background-color: rgb(216, 221, 232);
    border: 1px solid rgb(216, 221, 232);
}

.box-return-top:hover{
    transition: 0.5s ease-in-out;
    transform: translateY(-10px);
}

.return-top img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.return-top__img__2{
    display: none;
}

.return-top:hover .return-top__img__1{
    display: none;
}

.return-top:hover .return-top__img__2{
    display: block;
}


footer{
    width: 100%;
    height: 5rem;
    border-top: 1px solid rgb(27,49,86);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(126, 151, 195);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

.license{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(126, 151, 195);
}

.license__name::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(216, 221, 232);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.license__name:hover::after{
    transform: scale(1);
}

.license__name:hover{
    transition: 0.2s ease-in-out;
    color: rgb(216, 221, 232);
}

.license img{
    padding-right: 5px;
}

.year{
    margin-top: 5px;
}

.license__img__2{
    display: none;
}

.license:hover{
    transition: 0.2s ease-in-out;
}

.license:hover .license__img__1{
    display: none;
}

.license:hover .license__img__2{
    display: block;
}


@media (max-width: 875px){
    *{
        font-size: 0.9rem;
    }

    header{
        padding-top: 5%;
        padding-bottom: 2.5%;
    }

    .menu{
        width: 90vw;
    }

    .container{
        width: 90vw;
        height: 20vh;
    }

    .container__name{
        font-size: 2.1rem;
    }

    .container__description{
        font-size: 1.1rem;
    }

    .container__contact{
        font-size: 0.9rem;
    }

    .join-me-on__box__element{
        width: 20rem;
    }
}

@media (max-width: 400px){
    .background{
        background: url("Index/background.jpg");
        background-size: 200%;
        background-repeat: no-repeat;
    }

    header{
        padding-top: 10%;
        padding-bottom: 5%;
    }

}