
@font-face {
    font-family: "Mona Sans";
    src: url("Fonts/Mona\ Sans/Mona-Sans.ttf");
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    background-image: url("Index/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #0a1119;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

* {
    color: #fff;
    font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: #02b7fa;
    color: #111c29;
}

img::selection {
    background-color: rgba(0,0,0,0);
}

.vertical-rectangle {
    width: 10px;
    height: 150px;
    background-color: #02b7fa;
}

.horizontal-rectangle {
    width: 150px;
    height: 10px;
    background-color: #02b7fa;
}

#angle1 {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(10px, -10px);
    transition: transform 0.5s ease-out;
}

#angle2 {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-10px, 10px);
    transition: transform 0.3s ease-out;
}

#angle1 .vertical-rectangle {
    position: fixed;
    right: 0;
    top: 0;
}

#angle1 .horizontal-rectangle {
    position: fixed;
    right: 0;
    top: 0;
}

#angle2 .vertical-rectangle {
    position: fixed;
    left: 0;
    bottom: 0;
}

#angle2 .horizontal-rectangle {
    position: fixed;
    left: 0;
    bottom: 0;
}

header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100vw;
}

#header-left-part {
    width: 50px;
    margin-left: 5vw;
}

#header-left-part img {
    width: 100%;
}

#menu {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #02b7fa;
    text-decoration: underline;
}

#menu a {
    font-size: 1.3rem;
}

#main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 80vw;
    gap: 10px;
}

#main-box-left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-box-title {
    font-size: 2.5rem;
    text-align: center;
    min-width: 550px;
}

#cursor::after {
    content: "|";
    font-weight: bold;
    color: #02b7fa;
    position: relative;
    bottom: 2px;
    animation: blink 1s infinite;
}

#main-box-description {
    font-size: 1.1rem;
    color: #c2c8d0;
    text-align: center;
}

#main-box-contact {
    padding: 10px 60px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 50px;
    text-transform: uppercase;
    transition: 0.3s;
}

#main-box-contact:hover {
    cursor: pointer;
    border-color: #02b7fa;
    color: #fff;
    text-decoration: none;
}

#img-box {
    width: 400px;
    border-left: 5px solid #02b7fa;
    border-bottom: 5px solid #02b7fa;
    border-top: 5px solid #314356;
    border-right: 5px solid #314356;
    border-radius: 1000px;
    overflow: hidden;
}

#me {
    width: 100%;
}

.blue-word {
    color: #02b7fa;
}

.box {
    margin-top: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.box-title span {
    font-size: 2rem;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #02b7fa;
}

#about-text {
    font-size: 1.2rem;
    color: #c2c8d0;
    line-height: 2rem;
}

#education {
    display: flex;
    flex-direction: column;
}

#education-parts {
    margin-top: 20px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#education-part-one, #education-part-three {
    width: 40%;
    display: flex;
}

#education-part-one {
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

#education-part-three {
    justify-content: center;
    align-items: center;
    color: #c2c8d0;
}

.education-sub-box {
    padding: 20px;
    border: 1px solid #314356;
    border-radius: 5px;
}

.education-title {
    font-weight: bold;
}

.education-degree {
    color: #c2c8d0;
}

.education-period {
    color: #596d84;
}

.separator {
    width: 2px;
    height: 100%;
    background-color: #314356;
    border-radius: 5px;
}

#skills {
    display: flex;
    flex-direction: column;
}

#skills-parts {
    margin-top: 20px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#soft-skills, #hard-skills {
    width: 40%;
}

.skills-sub-title span {
    font-size: 1.7rem;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #314356;
}

.skills-sub-box {
    line-height: 2rem;
}

.skills-sub-box li {
    color: #c2c8d0;
}

.skills-sub-box a {
    color: #c2c8d0;
}

.skills-sub-box a:hover {
    color: #02b7fa;
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    font-size: 1.1rem;
    gap: 20px;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#social-media img {
    width: 30px;
}

#copyright {
    color: #c2c8d0; 
    padding: 0px 50px 20px 50px;
    text-align: center;
}

#up-button {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s ease-in-out; 
    z-index: 10000;
}

#up-button.visible {
    opacity: 1;
    cursor: pointer;
}

#up-button img {
    width: 40px;
}

@media (max-width: 1200px) {
    #menu {
        width: 70%;
    }

    #menu a {
        font-size: 1.1rem;
    }

    #main-box {
        width: 90%;
    }

    #education-parts {
        height: 500px;
    }

    #skills-parts {
        height: 280px;
    }

    .box {
        width: 90%;
    }

    #img-box {
        width: 300px;
    }
}

@media (max-width: 1000px) {
    #skills-parts {
        height: 320px;
    }

    #main-box-title {
        min-width: 0;
    }
}

@media (max-width: 850px) {
    #skills-parts {
        height: 400px;
    }
}

@media (max-width: 800px) {
    #main-box-title {
        font-size: 1.8rem;
    }

    #img-box {
        width: 200px;
    }

    .separator {
        display: none;
    }

    #education-parts {
        gap: 20px;
    }

    #education-part-one, #education-part-three {
        width: 50%;
    }

    #skills-parts {
        gap: 10px;
    }

    #soft-skills, #hard-skills {
        width: 50%;
    }   

    .angle {
        display: none;
    }
}

@media (max-width: 600px) {
    #education-parts {
        height: auto;
        flex-direction: column-reverse;
    }

    #education-part-one, #education-part-three {
        width: 100%;
    }

    #skills-parts {
        height: auto;
    } 
}

@media (max-width: 550px) {
    #main-box-contact {
        padding: 10px 30px;
    }
}

@media (max-width: 500px) {
    #main-box {
        flex-direction: column-reverse;
        height: auto;
    }
   
    .box-title span {
        font-size: 1.7rem;
    }

    #skills-parts {
        flex-direction: column;
    }

    #soft-skills, #hard-skills {
        width: 100%;
    }   
}

@media (max-width: 450px) {
    #header-left-part {
        display: none;
    }
    
    #menu {
        width: 100%;
    }

    header {
        justify-content: center;
        align-items: center;
    }
}
