
@font-face {
    font-family: "Mona Sans";
    src: url("../Fonts/Mona\ Sans/Mona-Sans.ttf");
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes framing {
    0% {
        border-right-color: #314356;
        border-left-color: #02b7fa;
        border-top-color: #02b7fa;
        border-bottom-color: #314356;
    }
    33% {
        border-left-color: #314356;
        border-bottom-color: #314356;
        border-top-color: #02b7fa;
        border-right-color: #02b7fa;
    }
    66% {
        border-bottom-color: #02b7fa;
        border-left-color: #314356;
        border-top-color: #314356;
        border-right-color: #02b7fa;
    }
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../Index/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #0a1119;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded {
    opacity: 1;
}

* {
    color: #fff;
    font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: #02b7fa;
    color: #111c29;
}

img::selection {
    background-color: rgba(0,0,0,0);
}

.vertical-rectangle {
    width: 10px;
    height: 150px;
    background-color: #02b7fa;
}

.horizontal-rectangle {
    width: 150px;
    height: 10px;
    background-color: #02b7fa;
}

#angle1 {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(10px, -10px);
    transition: transform 0.5s ease-out;
}

#angle2 {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-10px, 10px);
    transition: transform 0.5s ease-out;
}

#angle1 .vertical-rectangle {
    position: fixed;
    right: 0;
    top: 0;
}

#angle1 .horizontal-rectangle {
    position: fixed;
    right: 0;
    top: 0;
}

#angle2 .vertical-rectangle {
    position: fixed;
    left: 0;
    bottom: 0;
}

#angle2 .horizontal-rectangle {
    position: fixed;
    left: 0;
    bottom: 0;
}

header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100vw;
}

#header-left-part {
    width: 50px;
    margin-left: 5vw;
}

#header-left-part img {
    width: 100%;
}

#menu {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

a {
    text-decoration: none;
}

a:not(.social-media-link) {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(0deg, #02b7fa, #02b7fa);
    background-repeat: no-repeat;
    background-size: 0% 2px; 
    background-position: 0 100%;
    transition: 0.5s;
}

a:not(.social-media-link):hover {
    color: #02b7fa;
    background-size: 100% 2px;
}

#menu a {
    font-size: 1.3rem;
}

.blue-word {
    color: #02b7fa;
}

#empty {
    margin-top: 100px;
    font-size: 1.5rem;
    text-align: center;
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    font-size: 1.1rem;
    gap: 20px;
    position: absolute;
    bottom: 0;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#social-media img {
    width: 30px;
}

#social-media a {
    background-color: #fff;
    border-radius: 5px;
    height: 30px;
    transition: 0.5s ease;
}

#social-media a:hover {
    background-color: #02b7fa;
}

#copyright {
    color: #c2c8d0; 
    padding: 0px 50px 20px 50px;
    text-align: center;
}

#up-button {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s ease-in-out; 
    z-index: 10000;
}

#up-button:hover #arrow {
    opacity: 0;
}

#up-button.visible {
    opacity: 1;
    cursor: pointer;
}

#up-button img {
    width: 40px;
}

#up-button-img {
    display: flex;
}

#arrow {
    z-index: 10;
    transition: 0.5s;
}

#arrow2 {
    position: absolute;
    z-index: 1;
}

@media (max-width: 1200px) {
    #menu {
        width: 70%;
    }

    #menu a {
        font-size: 1.1rem;
    }
}

@media (max-width: 800px) {
    .angle {
        display: none;
    }
}

@media (max-width: 550px) {
    #main-box-contact {
        padding: 10px 30px;
    }
}

@media (max-width: 450px) {
    #header-left-part {
        display: none;
    }
    
    #menu {
        width: 100%;
    }

    header {
        justify-content: center;
        align-items: center;
    }
}
